:root {
  --primaryColor: #851313;
  --primaryBackgroundColor: #fff;
  --secondaryBackgroundColor: #eaeaea;
  --tertiaryBackgroundColor: #f9f9f9;
  --secondaryTextColor: #a5a5a5;
  --primaryBorderColor: #bebebe;
  --primaryButtonColor: #db4d4d;
  --navbarHeight: 80px;
}
